.swiper-button-prev, .swiper-button-next{
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 12px;
  color: white;
}


.swiper-pagination{
  display: none;
}